<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style></style>
</head>

<body>
    <div class="app">
        <!-- 普通文本框 -->
        <input type="text" v-model="msg">
        <p>{{ msg }}</p>
        <hr>
        <!-- 多行文本框 -->
        <textarea v-model="msg"></textarea>
        <hr>
        <!-- 复选框 -->
        <input type="checkbox" v-model="checked">
        <p>{{ checked }}</p>
        <hr>
        <!-- 单选框 -->
        <input type="radio" v-model="gender" value="male">男
        <input type="radio" v-model="gender" value="female">女
        <p>{{ gender }}</p>
        <hr>
        <!-- 下拉框 -->
        <select v-model="city">
            <option>北京</option>
            <option>上海</option>
            <option>成都</option>
        </select>
        <p>{{ city }}</p>
        <hr>
        <!-- 一组复选框 -->
        <input type="checkbox" v-model="hobby" value="足球">足球
        <input type="checkbox" v-model="hobby" value="篮球">篮球
        <input type="checkbox" v-model="hobby" value="排球">排球
        <p>{{ hobby }}</p>
    </div>
    <script src="./vue.js"></script>
    <script>
        const app = new Vue({
            el: '.app',
            data: {
                msg: '',
                checked: true,
                gender: 'male',
                city: '成都',
                hobby: ["篮球"]
            }
        })
    </script>
</body>

</html>

<!-- 特殊情况：
1. 单选 只要是一组v-model必须一样 并且要给表单项设置value值
2. 复选框只有一个 值是布尔值
3. 一组复选框 v-model必须一样，每个复选框都有value值，v-model绑定的是一个数组 -->